body{
    background-color: lightskyblue;
    color: aliceblue;
    h1{color: dimgray;}
    p{color: cornsilk;}
}

img{
border-radius: 50%;

}

#special{
    color: #fffaf0;
    background-color: #7ccadd;
}

#special 2{
color: #FFFFF0;
background-color: #e6e6fa;
}

#special3{
    color: black;
    background-color: aliceblue;
}

hr{
border: #004557;
}

#puppy{
    color: darkblue;
}